{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <section>
        <p>
            {{ 'resetting.check_email'|trans({'%email%': email}) }}
        </p>
    </section>
{% endblock %}

