{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <section>
        <h3>{% trans %}Create your account{% endtrans %}</h3>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="row uniform 50%">
            <div class="12u$">
                {{ form_widget(form, {
                    'attr': {'class': '3u 12u$'}
                }) }}
            </div>
            <div class="12u$">
                <input type="submit" value="{{ 'registration.submit'|trans }}" class="special"/>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
